body {
    display:flex;
    flex-direction: row;
    flex:1;
    max-width: 100%;
    justify-content: center;
    align-items: flex-start;
}

#container {
    display: flex;
    /* flex: 1; */
    background-color:rgba(179, 170, 153, 0.678);
    flex-direction: column;
    width: 600px;
    height: 340px;
    border-left: 9mm solid red;
    border-right: 9mm solid red;
    border-top: 0;
    border-bottom: 0;
}

#canvas {
    display: flex;
    /* flex: 1; */
    background-color:rgba(179, 170, 153, 0.678);
    flex-direction: column;
    width: 600px;
    height: 340px;
    border-left: 9mm solid red;
    border-right: 9mm solid red;
    border-top: 0;
    border-bottom: 0;
}

#top {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 668px;
    background-color: red;
    padding-top: 5mm;
    padding-bottom: 5mm;
    border-top-left-radius: 10mm;
    border-top-right-radius: 10mm;
    
}

#topLeft {
    display: flex;
    flex: 1;
    /* justify-content: center; */
    /* margin-left: 30px; */
    /* border: 1mm solid black */
}

#topMid {
    display: flex;
    flex: 4;
    justify-content: center;
    align-items: center;
    /* border: 1mm solid black */
}

#topRight {
    display: flex;
    flex: 1;
    /* justify-content: right;
    margin-right: 30px; */
    /* border: 1mm solid black */
}

#toyTitle2 {
    display: flex;
    flex: 2;
    justify-content: center;
    color: #D4AF37;
    font-family: 'Brush Script MT';
    font-weight: 600;
    /* margin: 0px 8px; */
    font-size: 42px;
    /* border: 0.5mm solid black; */
}

#toyTitle1, #toyTitle3 {
    display: flex;
    flex: 1;
    justify-content: center;
    color: #D4AF37;
    font-family: 'Optima';
    font-style: italic;
    font-weight: 600;
    /* margin: 0px 8px; */
    font-size: 20px;
    /* border: 0.5mm solid black; */
}

#bottom {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 668px;
    background-color: red;
    padding-top: 5mm;
    padding-bottom: 5mm;
    border-bottom-left-radius: 10mm;
    border-bottom-right-radius: 10mm;
}

#bottomLeft {
    display: flex;
    flex: 1;
    justify-content: left;
    margin-left: 30px;
    /* border: 1mm solid black */
}

#bottomMid {
    display: flex;
    flex: 3;
    /* border: 1mm solid black */
}

#bottomRight {
    display: flex;
    flex: 1;
    justify-content: right;
    margin-right: 30px;
    /* border: 1mm solid black */
}

#divRow {
    display: flex;
    border-style: dashed;
    border-color: black;
}

.rowItem {
    display: flex;
    flex: 1;
    flex-direction: row;
    width:auto;
    height:auto;

}

.colItem {
    display: flex;
    flex: 1;
    flex-direction: row;
    width:auto;
    height:auto;
}

#controls {
    display:flex;
    justify-content: ;
}

#buttonDiv {
    display: flex;
    flex-direction: column;
    
    margin-right: 8px;
    /* flex: 1; */
    /* justify-content: space-between; */
}

.specialButtons {
    display: flex;
    flex-direction: column;
}

.colorButtons {
    display: flex;
    flex-direction: column;
    /* margin-left: 8px; */
}

.specialButton {
    height: 50px;
    width: 95px;
    border-radius: 2mm;
    margin-bottom: 2px;
}

#changeGrid {
    background: url('./images/brushes.svg') top no-repeat;
}

#eraser {
    background: url('./images/erase-all.svg') top no-repeat;
}

.colorButton {
    height: 50px;
    width: 95px;
    border-radius: 2mm;
    border: 0.5mm solid black;
    margin: 1px 0px;
}

p {
    display: flex;
    justify-content: center;
    margin: 1px;
    font-family: 'Optima';
    font-style: italic;
    font-weight: 600;

    
}

#white {
    background-color: white;   
}

#black {
    background-color: black;   
}

#blue {
    background-color: blue;   
}

#green {
    background-color: green;   
}

#yellow {
    background-color: yellow;
}

#orange {
    background-color: orange;
}

#red {
    background-color: rgb(197, 5, 5);
}

#purple {
    background-color: purple;
}

#rainbow {
    background: url("./images/rainbow.svg") top left;  
}